<% provide(:title, "Contact") %>

<h1>Contact</h1>
<p>
  Contact the Ruby on Rails Tutorial at the <a href="http://www.railstutorial.org/#contact">Rails Tutorial help section</a>
  To get help on this sample app, see the <a href="http://www.railstutorial.org/book">Ruby on Rails Tutorial
    book</a>
</p>
