<footer class="footer">
  <small>The <a href="http://www.railstutorial.org/">Rails tutorial</a></small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="#">Rails tutorial</a></li>
    </ul>
  </nav>
</footer>
